/* controle le bouton password en claire */
.toggle-password.active .eye {
  display: none;
}

.toggle-password.active .eye-slash {
  display: inherit;
}

.toggle-password .eye-slash {
  display: none;
}
/* controle le bouton password en claire */
.toggle-password1.active .eye {
  display: none;
}

.toggle-password1.active .eye-slash {
  display: inherit;
}

.toggle-password1 .eye-slash {
  display: none;
}/* controle le bouton password en claire */
.toggle-password2.active .eye {
  display: none;
}

.toggle-password2.active .eye-slash {
  display: inherit;
}

.toggle-password2 .eye-slash {
  display: none;
}

/* affiche les commentaires non validé en vert claire */
.bg-comment {
	background: #D5E6D4;
}

/* affichage des option dans le dashboard */
.option-links {
  margin-top: 30px;
}
.option-links .edit {
  font-size: 18px;
  display: inline-block;
  color: darkseagreen;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border: 1px solid darkseagreen;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.option-links .delete {
  font-size: 18px;
  display: inline-block;
  color: indianred;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border: 1px solid indianred;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
.option-links .edit:hover {
  background: darkseagreen;
  color: #fff;
  text-decoration: none;
}
.option-links .delete:hover {
  background: indianred;
  color: #fff;
  text-decoration: none;
}